<h1 *ngIf="rastlina === null">Ogledali ste si vse rastline. Vrnite se kmalu, ko bodo na voljo nove menjave!</h1>
<div class="container text-center" *ngIf="rastlina">
  <div class="row align-content-center">
    <img src="{{rastlina.slika}}" class="mx-auto d-block"  style="max-height: 400px; max-width: 600px; width: auto; height: auto" routerLink="/podrobnosti/{{rastlina._id}}">
  </div>
  <div class="row text-start">
    <div class="col">
      <div class="ime">{{rastlina.imeRastline}}</div>
    <div class="opis">{{rastlina.opis}}</div>
    </div>
  </div>
  <div class="row text-center mt-5">


      <!-- <img src="../../../assets/images/retry.svg" style="width: 10%;position: relative; left: 0; cursor: pointer" (click)="refresh()" > -->
    <div class="col">
      <img src="../../../assets/images/cross.svg"  style="width: 40%; position: relative; cursor: pointer" (click)="onDeny()" >
    </div>

    <div class="col">
      <img src="../../../assets/images/check.svg" style="width:40%; position: relative;cursor:pointer;" (click)="onAccept()">
    </div>
  </div>
</div>
