<div class="container">
  <div class=" rounded search">
    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
      aria-describedby="search-addon" />
  </div>

  <div class="row">
    <div class="col-md-6 text-center kategorija" *ngFor="let kategorija of kategorije" style="cursor: pointer">
      <a routerLink="/kategorije/{{kategorija.ime}}">
      <img src="{{kategorija.slika}}" style="max-width: 300px; max-height: 300px">
      <div class="ime">
        {{kategorija.ime}}
      </div>
      </a>
    </div>
  </div>
</div>

