<!-- <div class="container">
  <div class="row" *ngIf="showNav">
    <div class="col-md-2">
      <div class="puscica">
        <img src="../../../assets/images/puscica.png" style="width: 100%;max-height: 200px; max-width: 200px; cursor:pointer;" alt="backarrow" (click)="backClicked()" >
      </div>
    </div>
    <div class="col-md-8"></div>
    <div class="col-md-2">
      <div class="profile text-end" *ngIf="showIcon">
        <img routerLink="/profile" src="../../../assets/images/profile.png" style="width: 100%;max-height: 200px; max-width: 200px; cursor: pointer" alt="profileimageplaceholder" >
      </div>
    </div>
  </div>
</div> -->


<div class="container">
  <div class="row" *ngIf="showNav">
    <div class="col">
      <div class="puscica">
        <img src="../../assets/images/puscica.png" width="20%" alt="backarrow" (click)="backClicked()">
      </div>
    </div>
    <div class="col float-right">
      <div class="profile text-end">
        <img routerLink="/profile" src="../../assets/images/profile.png" width="20%">
      </div>
    </div>
  </div>
</div>
