<!-- <div class="container">
  <div class="row" *ngIf="showNav">
    <div class="col-md-2">
      <div class="puscica">
        <img src="../../../assets/images/puscica.png" style="width: 100%;max-height: 200px; max-width: 200px; cursor:pointer;" alt="backarrow" (click)="backClicked()" >
      </div>
    </div>
    <div class="col-md-8"></div>
    <div class="col-md-2">
      <div class="profile text-end" *ngIf="showIcon">
        <img routerLink="/profile" src="../../../assets/images/profile.png" style="width: 100%;max-height: 200px; max-width: 200px; cursor: pointer" alt="profileimageplaceholder" >
      </div>
    </div>
  </div>
</div> -->

<nav class="navbar navbar-fixed-top navbar-expand-lg navbar-light bg-light" style="position: fixed;">
  <div class="row">
    <div class="col">
      <img (click)="backClicked()" src="../../../assets/images/puscica.png" width="20%" alt="back">
    </div>
    <div class="col" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" style="float: right;">
      <img src="../../../assets/images/profile.png" width="20%" style="float: right">
    </div>
  </div>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">

      <a *ngIf="loggedUser" class="nav-item nav-link" routerLink="swipe" data-toggle="collapse" data-target="#navbarNavAltMarkup" ><i class="fas fa-compress-alt"></i> Swipe</a>

      <a class="nav-item nav-link" routerLink="kategorije" data-toggle="collapse" data-target="#navbarNavAltMarkup" ><i class="fas fa-tree"></i> Kategorije</a>

      <a *ngIf="loggedUser" class="nav-item nav-link" routerLink="plant/add" data-toggle="collapse" data-target="#navbarNavAltMarkup" ><i class="fas fa-seedling"></i> dodaj rastlino</a>

      <a *ngIf="loggedUser" class="nav-item nav-link" routerLink="oglas/add" data-toggle="collapse" data-target="#navbarNavAltMarkup" ><i class="fas fa-plus"></i> dodaj oglas</a>

      <a *ngIf="loggedUser" class="nav-item nav-link" routerLink="profile" data-toggle="collapse" data-target="#navbarNavAltMarkup" ><i class="fas fa-user-alt"></i> Profil</a>

      <a *ngIf="loggedUser" class="nav-item nav-link" routerLink="nastavitve" data-toggle="collapse" data-target="#navbarNavAltMarkup" ><i class="fas fa-cog"></i> Nastavitve</a>

      <a *ngIf="loggedUser" class="nav-item nav-link" routerLink="logout" data-toggle="collapse" data-target="#navbarNavAltMarkup" ><i class="fas fa-sign-out-alt"></i> Odjava</a>

      <a *ngIf="!loggedUser" class="nav-item nav-link" routerLink="login" data-toggle="collapse" data-target="#navbarNavAltMarkup" ><i class="fas fa-sign-in-alt"></i> Prijava</a>

      <a *ngIf="!loggedUser" class="nav-item nav-link" routerLink="register" data-toggle="collapse" data-target="#navbarNavAltMarkup" ><i class="fas fa-sign-in-alt"></i> Registracija</a>
    </div>
  </div>
</nav>


<!-- <div class="container">
  <div class="row" *ngIf="showNav">
    <div class="col">
      <div class="puscica">
        <img src="../../assets/images/puscica.png" width="20%" alt="backarrow" (click)="backClicked()">
      </div>
    </div>
    <div class="col float-right">
      <div class="profile text-end">
        <img routerLink="/profile" src="../../assets/images/profile.png" width="20%">
      </div>
    </div>
  </div>
</div> -->
