<div class="container text-left nastavitve">
  <b>Nastavitve</b>
</div>

<div class="nastavitve_profila container-fluid text-left">
  <div class="naslov">
    Nastavitve profila
  </div>

  <div class="nastavitev" routerLink="/profile">
    Uredi račun
  </div>

  <div class="nastavitev">
    Zasebnost
  </div>

  <div class="nastavitev">
    Jezik
  </div>

  <div class="nastavitev" routerLink="/logout">
    Odjava
  </div>
</div>

<div class="nastavitve_menjalnice container-fluid text-left">

  <div class="naslov">
    Menjalnica
  </div>

  <div class="nastavitev" routerLink="/profile">
    <div class="row mb-1">
      <div class="col">
        Lokacija
      </div>
      <div class="col d-flex justify-content-end distance">
        25km
      </div>
    </div>
    <input type="range" class="form-range" id="customRange1">
  </div>

  <div class="nastavitev">
    Pokaži mi
  </div>
  <div class="row">
    <div class="col">
      <img src="../../../assets/images/vse_rastline.png" alt="vse rastlina" width="100%">
    </div>
    <div class="col">
      <img src="../../../assets/images/izberi_kategorijo.png" alt="vse rastlina" width="100%">
    </div>
  </div>

</div>

<div class="pomoc container-fluid text-left">

  <div class="naslov">
    Center za pomoč
  </div>

  <div class="nastavitev" routerLink="/profile">
    Pogosta vprašanja
  </div>

  <div class="nastavitev">
    Oglasi
  </div>

  <div class="nastavitev">
    Kontakt
  </div>

</div>
