<div class="d-flex flex-column container">
  <div class="logo">
    <img class="img-fluid" src="../../../assets/images/logo_green.png">
  </div>

  <div class="buttons d-flex flex-column">
    <img class="prijava" src="../../../assets/images/prijava.png" routerLink="/login" style="cursor:pointer;">
    <img class="registracija" src="../../../assets/images/registracija.png" routerLink="/register" style="cursor:pointer;">
    <!-- <button class="btn-primary p-3 prijava" title="Prijava" routerLink="/login">PRIJAVA</button>
    <button class="btn-primary p-3 registracija" title="Registracija" routerLink="/register">REGISTRACIJA</button> -->
  </div>
</div>
