<div class="container">

  <div class="input_fields text-center justify-content-center">
    <div class="image text-center">
      <img src="../../../assets/images/logo_green.png" width="70%">
    </div>

    <div class="vnosna_polja col-10">

      <form>

        <div class="form-group">
          <input type="text" class="form-control" placeholder="Uporabniško ime">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Geslo">
        </div>

        <div class="form-group buttons text-center">
          <!-- <input type="submit" class="login_button" value="Prijava" class="form-control"> -->
          <img src="../../../assets/images/prijava.png" width="70%">
        </div>

      </form>

    </div>
  </div>
</div>
