<app-ogrodje></app-ogrodje>

<div class="container">
  <div class="naslov">
    Izmenjevalnica
  </div>

  <div class="input_fields">
    <div class="image text-center">
      <img src="../../assets/images/rastlina_placeholder.png" width="90%">
    </div>

    <div class="ime">Ime rastline</div>
    <div class="opis">Lorem ipsum dolor sit amet, consectetur adipisicing elit,...</div>

    <div class="vnosna_polja">

      <div class="row text-center">
        <div class="col icon">
          <img src="../../assets/images/no.png" width="50%">
        </div>
        <div class="col icon">
          <img src="../../assets/images/yes.png" width="50%">
        </div>
      </div>

    </div>
  </div>
</div>
