<div class="container text-left">
  <h1><b>Shranjene rastline</b></h1>
</div>

<div class="container">

  <div class="oglas mb-2 shadow border" *ngFor="let rastlina of rastline">
    <div class="row">
      <div class="col image text-left">
        <img src="{{rastlina.slika}}" alt="slika oglasa" width="100rem">
      </div>
      <div class="col text-center image_container" style="display: grid; place-items: center">
        <p><b>{{rastlina.imeRastline}}</b></p>
        <!-- <img class="image" src="../../../assets/images/lajk.png" alt="lajk"> -->
      </div>
    </div>
  </div>
</div>
