<div class="container">
  <div class="naslov">
    Profil
  </div>

  <div class="input_fields text-center justify-content-center">
    <div class="image text-center">
      <img id="file_input"  src="{{uporabnik.slika}}" width="50%">
      <div class="custom-file">
        <!-- <label for="myfile">Select a file:</label> -->
        <input *ngIf="!uporabnik.slika" type="file" id="myfile" name="myfile" (change)="dodajFile($event)" #fileUpload>
      </div>
    </div>

    <div class="vnosna_polja col-10">

        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]="uporabnik.elektronskiNaslov" placeholder="Uporabniško ime">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]="uporabnik.opis" placeholder="Opis">
        </div>

        <div class="form-group">
          <img src="../../../assets/images/shrani_spremembe.png" (click)="shraniSpremembe()" alt="shrani" width="90%">
          <!-- <input type="submit" class="shrani_button" value="Shrani spremembe" class="form-control"> -->
        </div>


    </div>
  </div>
</div>
