<div class="container">
  <div class="w-100 text-center">
<!--    placeholder for actual pictures-->
    <img src="{{rastlina.slika}}" style="width: 100%; max-width: 600px">
  </div>
  <div class="row">
    <div class="mt-5 mb-5 ime" style="color:forestgreen; font-size: 4ex">
      {{rastlina.imeRastline}}
    </div>
  </div>
  <div class="row mb-5">
    <div class="col text-center">
      <img src="assets/images/sun.svg" style="max-width: 100px; max-height: 100px" class="pb-3">
      <div>
        {{rastlina.potrebaPoSvetlobi}} %
      </div>
    </div>
    <div class="col text-center">
      <img src="assets/images/droplet.svg" style="max-width: 100px; max-height: 100px" class="pb-3">
      <div>
        {{rastlina.procentOhranjanjaVlage}} %
      </div>
    </div>
    <div class="col text-center">
      <img src="assets/images/heart.svg" style="max-width: 100px; max-height: 100px" class="pb-3">
      <div>
        shrani
      </div>
    </div>
  </div>
  <div class="row mb-5">
    <img src="assets/images/line.svg" style="width: 100%">
  </div>
  <div class="row">
    <p style="color: dimgrey">{{rastlina.opis}}</p>
  </div>
</div>
