<div class="container">
  <div class="w-100 text-center">
<!--    placeholder for actual pictures-->
    <img src="{{rastlina.slika}}" style="max-width: 600px; max-height: 400px">
  </div>
  <div class="row">
<!--    <div class="mt-5 mb-5 ime" style="color:forestgreen; font-size: 4ex">-->
<!--      {{rastlina.imeRastline}}-->
<!--&gt;>>>>>> 6fc876d1160689355285b29d881fcf2349695e18-->
<!--    </div>-->
    <div class="row">
        <div class="mt-5 mb-5 ime" style="color:rgb(36, 36, 36); font-size: 4ex">
            {{rastlina.imeRastline}}
        </div>
    </div>
    <div class="row mb-5">
        <div class="col text-center">
            <img src="assets/images/sun.svg" style="max-width: 100px; height: 100px; width: auto" class="pb-3">
            <div>
                {{rastlina.potrebaPoSvetlobi}} %
            </div>
        </div>
        <div class="col text-center">
            <img src="assets/images/droplet.svg" style="max-width: 100px; height: 100px; width: auto" class="pb-3">
            <div>
                {{rastlina.procentOhranjanjaVlage}} %
            </div>
        </div>
        <div class="col text-center" *ngIf="!jeshranjena" (click)="shrani()">
            <img src="assets/images/heart.svg" style="max-width: 100px; height: 100px; width: auto" class="pb-3">
            <div>
                shrani
            </div>
        </div>
        <div class="col text-center" *ngIf="jeshranjena" (click)="odshrani()">
<!--          todo change heart to heart with green in back-->
          <img src="assets/images/heartcolor.svg" style="max-width: 100px; height: 100px; width: auto" class="pb-3">
          <div>
            shranjeno
          </div>
        </div>
    </div>
    <div class="row mb-5">
        <img src="assets/images/line.svg" style="width: 100%">
    </div>
    <div class="row">
        <p style="color: dimgrey">{{rastlina.opis}}</p>
    </div>
    <div id="snackbar">Rastlina je shranjena med priljubljene!</div>
    <div id="unsnackbar">Rastlina je odstranjena od priljubljenih!</div>
</div>
</div>
