<div class="container-fluid content">
  <div *ngIf="!this.klepeti"><h1>Za začetek klepeta si najprej izberite rastlino, ki bi jo radi zamenjali.</h1></div>
  <div *ngIf="this.klepeti" class="row">


      <div class="col-3">

          <div class="mb-2 shadow border col-12 klepet-choice w-100"  *ngFor="let klepet of this.klepeti" [style.color]="barvaKlepeta(klepet._id)" (click)="izberiKlepet(klepet._id)" style="cursor: pointer">
            <div>{{klepet.imeKlepeta}}</div>
          </div>


      </div>
      <div class="col-9">
        <div *ngIf="this.izbraniKlepet" >

          <div class="klepet-container w-100 mb-2" id="klepetContainer">
            <div class="klepet-naslov">{{this.izbraniKlepet.imeKlepeta}}</div>
            <div class="klepet w-100">
              <div *ngFor="let sporocilo of this.izbraniKlepet.sporocila" class="row w-100">
                <div class="sporocilo-bubble col-12" [style.background-color]="barvaSporocila(sporocilo.lastnikId)">
                  <div style="font-weight: 500;">{{imeClana(sporocilo.lastnikId)}} <span class="datum">{{formatirajDatum(sporocilo.datum)}}</span></div>
                  <div [ngClass]="smersporocila(sporocilo.lastnikId)" >{{sporocilo.telo}}</div>
                </div>
              </div>
            </div>

            <div class="text-container">
              <div class="">
                <textarea [(ngModel)]="message" id="posljiTextArea" class="text-input"></textarea>
              </div>
              <div class="btn btn-secondary send-button" id="posljiSporociloGumb" (click)="send()">
                <div>Pošlji</div>
              </div>
            </div>
          </div>



        </div>
      </div>

    </div>



</div>
