<div class="container">
  <div *ngIf="opozorilo.visible" class="alert alert-danger" role="alert">
    {{opozorilo.text}}
  </div>

  <div class="naslov mt-5">
    Dodaj oglas
  </div>

  <div class="input_fileds text-center">
    <!-- <div class="image">
      <img src="../../../assets/images/img_add_placeholder.png" width="50%">
    </div> -->

    <div class="vnosna_polja col-10 text-center justify-content-center">
      <form [formGroup]="podatki">

        <div class="form-group">
          <input
              type="text"
              class="form-control"
              formControlName="ime"
              placeholder="Ime rastine">
        </div>

        <div class="row mt-5">

          <div class="col">
            <button
                class="btn btn-outline-secondary"
                (click)="preveriRastlino()"
            >Preveri</button>
          </div>

          <div class="col">
            <button
                class="btn btn-outline-success"
                (click)="dodajOglas()"
            >Dodaj</button>
            <!-- <input
                (click)="dodajOglas()"
                type="submit"
                value="Dodaj"
                class="form-control"> -->
          </div>

        </div>

      </form>

    </div>

  </div>

  <hr class="mt-5">

  <div class="container text-left mt-5">
    <div><b>Ime:</b> {{rastlina.imeRastline}}</div>
    <div><b>Kategorija:</b> {{rastlina.kategorija}}</div>
    <div><b>Potreba po svetlobi:</b> {{rastlina.potrebaPoSvetlobi}}</div>
    <div><b>Potreba po vlagi:</b> {{rastlina.procentOhranjanjaVlage}}</div>
    <div><b>Opis: </b>{{rastlina.opis}}</div>

    <img>
  </div>

</div>
