<app-ogrodje></app-ogrodje>

<div class="container">
  <div class="naslov">
    Dodaj rastlino
  </div>

  <div class="input_fileds text-center">
    <div class="image">
      <img src="../../assets/images/img_add_placeholder.png" width="50%">
    </div>

    <div class="vnosna_polja col-10 text-center justify-content-center">
      <form>

        <div class="form-group">
          <input type="text" class="form-control" placeholder="Ime rastine">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Kategorija">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Podkategorija">
        </div>
        <div class="form-group">
          <input type="number" class="form-control" placeholder="Potreba po svetlobi (%)">
        </div>
        <div class="form-group">
          <input type="number" class="form-control" placeholder="Procent ohranjanja vlage (%)">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Opis">
        </div>
      </form>

    </div>

  </div>

</div>
