<div class="container">

  <div class="input_fields text-center justify-content-center">

    <div class="vnosna_polja col-10">

      <form>

        <div class="form-group">
          <input type="text" class="form-control" placeholder="Uporabniško ime">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Email">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Geslo">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Ponovi geslo">
        </div>

        <div class="pogoji float-left">
          <input type="checkbox" id="pogoji" name="pogoji" value="pogoji">
          <label for="vehicle1">
            Strinjam se s <a href="https://www.w3schools.com">pogoji storitev</a>.
          </label>
        </div>

        <div class="form-group">
          <!-- <input type="submit" class="registracija_button" value="Registracija" class="form-control"> -->
          <img src="../../assets/images/registriraj_se.png" width="70%">
        </div>

      </form>

    </div>
  </div>
</div>
