<div class="container logo-container row h-100 w-100">
    <input class="form-control input-box" type="text" id="uporabnisko_ime" name="uporabnisko_ime" placeholder="Uporabiško ime">
    <input class="form-control input-box" type="email" id="email" name="email" placeholder="E-naslov">
    <input class="form-control input-box" type="password" id="password" name="password" placeholder="Geslo">
    <input class="form-control input-box" type="password" id="password_repeat" name="password" placeholder="Ponovi geslo">
    <div>
        <input type="checkbox" id="pogoji" name="pogoji" value="pogoji">
        <label for="vehicle1">
          Strinjam se s <a href="https://www.w3schools.com">pogoji storitev</a>.
        </label>
    </div>
    <button class="btn-primary p-2" title="registrirajse" routerLink="nastavitve">Registriraj se</button>
</div>
