<div class="container logo-container row h-100 w-100">
    <input type="text" id="uporabnisko_ime" name="uporabnisko_ime" placeholder="Uporabiško ime">
    <input type="email" id="email" class="fadeIn second" name="email" placeholder="E-naslov">
    <input type="password" id="password" class="fadeIn second" name="password" placeholder="Geslo">
    <input type="password" id="password_repeat" class="fadeIn second" name="password" placeholder="Ponovi geslo">
    <div>
        <input type="checkbox" id="pogoji" name="pogoji" value="pogoji">
        <label for="vehicle1">
          Strinjam se s <a href="https://www.w3schools.com">pogoji storitev</a>.
        </label>
    </div>
    <button title="registrirajse" routerLink="nastavitve">Registriraj se</button>
</div>
