<div class="d-flex flex-column">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <img class="align-middle" src="../../assets/images/logo.png">
                <input class="form-control input-box" type="text" id="uporabnisko_ime" name="uporabnisko_ime" placeholder="Uporabiško ime">
                <input class="form-control input-box" type="password" id="password" name="password" placeholder="Geslo">
                <button title="Prijava" class="btn-primary p-2">Prijava</button>
            </div>
        </div>
    </div>
</div>
